.main {
    margin: 50px;
    background-color: white;
}
.body{
    background-color: #efefef;
}

.btn-publish{
    float: right;
    margin-bottom: 20px;
}
.media-object{
    width: 60px;
    height: 60px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}