<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学习社区</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap.js" type="application/javascript"></script>
    
</head>
<body>
    <nav class="navbar navbar-default" th:replace="~{common/guideBar::guideBar}"></nav>
    <div class="container-fluid main">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h2><span class="glyphicon glyphicon-fire" aria-hidden="true"></span>最新话题</h2>
                <hr>
                <div class="media" th:each="question : ${allPage.questions}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <a th:href="@{/singleQuestion(id=${question.id}, view=${question.viewCount})}"><h4 class="media-heading" th:text="${question.title}"></h4></a>
                        <span class="text-desc">
                                <span th:text="${question.user.accountName}"></span>  •  
                            <span th:text="${question.commentCount}"></span>个回复   •  
                            <span th:text="${question.viewCount}"></span>个浏览
                            <br>
                            <span th:text="${#dates.format(question.gmtCreate,'yyyy MMMM dd')}"></span>
                            
                                        
                        </span>
                    </div>
                    <hr>
                </div>
                <nav aria-label="Page navigation" th:replace="~{common/pageNavigation::pageNavigation}"></nav>
            </div>
            
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">

                <h2 class="glyphicon glyphicon-pencil" aria-hidden="true">说明</h2>
                <hr>
                <p>这是一个用来记录个人学习的网站</p>
                <p>通过使用bootstrap来实现一些简单的前端样式</p>
                <p>实现了通过github登录</p>
                <p>简单的分页查询</p>
                <p>通过Spring, MVC, boot,来管理Java类(MVC三层)</p>
                <p>通过MyBatis来实现与数据库的交互</p>
                <p>通过thymeleaf来实现前后端的数据传递</p>
                <p>通过Maven来实现依赖的导入</p>
                <p>通过阿里巴巴的<a href="/druid/login.html">Druid</a>来记录数据库的日志信息(账号和密码均为:admin)</p>
                <p>通过<a href="/swagger-ui.html">swagger</a>来记录每个servlet</p>
            </div>
        </div>
    </div>
</body>
</html>